# Ignore node_modules directory
node_modules

# Ignore videos directory inside public
public/videos

# Ignore logs
logs
*.log

# Ignore temporary files and directories
tmp
temp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore other files that should not be included in the image
.git
.gitignore
.env
